<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style="overflow-y: hidden;"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>500</title>
    <meta name="keywords" content="404">
    <meta name="description" content="404">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" media="all" href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link type="text/css" media="all" href="{{url_for('static',filename='css/dmaku.main.css')}}" rel="stylesheet">
    <link type="text/css" media="all" href="{{url_for('static',filename='css/respons.css')}}" rel="stylesheet">      
</head>


<body>
    <div class="animationload" style="display: none;">
        <div class="loader" style="display: none;">
        </div>
    </div>
    <div id="wrapper">
        <div class="container">
            <div class="col-xs-12 col-sm-7 col-lg-7">               
                <div class="info">
                    <h1>哎呀!</h1>
                    <h2>服务器罢工了!</h2>
                    <p>服务器内部错误，程序猿老弟正在赶来的路上，请稍后再次访问</p>
                    <a href="{{url_for('main.index')}}" class="btn">返回首页</a>
                    <!-- <a href="http://www.dmaku.com/" class="btn btn-light-blue">联系我们</a> -->
                </div>              
            </div>
            <div class="col-xs-12 col-sm-5 col-lg-5 text-center">                
                <div class="guardian">
                    <img src="{{url_for('static',filename='images/guardian.gif')}}" alt="Fighting">
                </div>                
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{url_for('static',filename='plugins/jQuery/jquery-2.2.3.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static',filename='plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static',filename='plugins/modernizr.custom.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static',filename='plugins/jquery.nicescroll.min.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static',filename='plugins/scripts.js')}}" type="text/javascript"></script><div id="ascrail2000" class="nicescroll-rails" style="width: 4px; z-index: 999999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 2px; height: 0px; background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px;"></div></div>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</body></html>

<!-- {% block content %}
<div class="box box-primary">
    <div class="box-header with-border"></div>
    <div class="box-body">
        <div class="callout callout-info">
            <h1><i class="icon fa fa-info"></i> 错误代码 - 500</h1>
            <p>&nbsp;</p>
            <h3>系统内部错误</h3>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-primary" href="{{url_for('main.index')}}">返回首页</a>
    </div>
</div>
{% endblock%} -->